<html>
  <div class="container-fluid">
    
    <h1>Pecunia</h1>
    <nav class="navbar navbar-expand-sm btn-secondary ">
      <div id="b">
      <ul class="nav nav-pills ">
     
          <li class="nav-item">
            <button class="btn btn-primary" routerLink="app-signup">Signup</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-primary" routerLink="app-login">Log In</button>
          </li>
          <li class="nav-item float-right">
            <button class="btn btn-danger" id="lo" routerLink="app-logout">Log Out</button>
          </li>
       
      </ul>
    </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</html>

